@model InterGalacticEcomm.Models.CategoryProductVM


<h1>@Model.Category.CategoryName </h1>

<p>Category Description: @Model.Category.Description</p>

<p>Here are all the products within this category:</p>
<ul>
    @foreach (var item in @Model.Category.CategoryProducts)
    {
        <li>
            <a asp-controller="Admin" asp-action="Product" asp-route-Id="@item.Product.Id">@item.Product.Name</a>
        </li>
    }
</ul>

@if (User.Identity.IsAuthenticated)
{

    <p>Update a Category</p>
    <form asp-controller="Admin" method="post" asp-action="UpdateCategory">
        <label>
            <span>Name</span>
            <input asp-for="@Model.Category.CategoryName" />

            <span>Description</span>
            <input asp-for="@Model.Category.Description" />

            <input type="hidden" asp-for="@Model.Category.Id" />


            <input type="submit" value="Update" />
        </label>
    </form>

    <div asp-validation-summary="All"></div>



    <p>Add a Product to this Category</p>

    <form asp-controller="Admin" method="post" asp-action="AddProductToCategory">
        <label>

            <select>
                @foreach (var item in @Model.Product)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>

            <input type="hidden" asp-for="@Model.Category.Id" />

            <input type="submit" value="Update" />
        </label>
    </form>



    <p>Delete a Category</p>
    <form asp-controller="Admin" method="post" asp-action="DeleteCategory">
        <label>

            <input asp-for="@Model.Category.Id" />

            <input type="submit" value="Delete" />
        </label>
    </form>

    <div asp-validation-summary="All"></div>

}

