@model InterGalacticEcomm.Models.Product

<h1>Here is your product details page.</h1>
<ul>
    <li>
        @Model.Name
    </li>
    <li>
        @Model.Price
    </li>
    <li>
        @Model.Description
    </li>
</ul>

@if (@Model.URL != null)
{
    <img src="@Model.URL" width="250">
}

@if (User.IsInRole("Admin"))
{

    <form asp-controller="Admin" asp-action="UpdateImage" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data">
        <label>
            <input name="file" type="file" />

            <input type="hidden" asp-for="@Model.Id" />

            <input type="submit" value="UploadImage" />
        </label>
    </form>

    <div asp-validation-summary="All"></div>

    <form asp-controller="Admin" method="post" asp-action="UpdateProduct">
        <label>
            <p>Update a product</p>
            <span>Name</span>
            <input asp-for="@Model.Name" />

            <span>Description</span>
            <input asp-for="@Model.Description" />

            <span>Price</span>
            <input asp-for="@Model.Price" />

            <input asp-for="@Model.URL" type="hidden"/>

            <input type="hidden" asp-for="@Model.Id" />

            <input type="submit" value="Update" />
        </label>
    </form>

    <form asp-controller="Admin" method="post" asp-action="DeleteProduct">
        <label>
            <p>Delete a product</p>

            <input type="hidden" asp-for="@Model.Id" />

            <input type="submit" value="Delete" />
        </label>
    </form>
    }