@page
@model InterGalacticEcomm.Pages.Home.CheckoutModel
@{
}


<h1>Checkout page</h1>

<ul>
    @foreach (var item in Model.Cart.CartProducts)
    {
        <li>
            <p>@item.Product.Name</p>
        </li>
        <li>
            <p>@item.Product.Description</p>
        </li>
        <li>
            <p>@item.Product.Price</p>
        </li>
                <li>
            <p>@item.Product.CartProducts.Quantity</p>
        </li>
    }
</ul>

<form method="post">
    <div>
        <label asp-for="@Model.CreditCard.CreditCardNum">CreditCard Number: </label>
        <input  readonly type="text" value="4111111111111111" />
    </div>
    <div>
        <label asp-for="@Model.CreditCard.Expiration">Expiration Date: </label>
        <input readonly type="text" value="0718" />
    </div>
    <div>
        <label asp-for="@Model.CreditCard.Address">Address: </label>
        <input type="text" />
    </div>
    <div>
        <label asp-for="@Model.CreditCard.State">State: </label>
        <input type="text" />
    </div>
    <div>
        <label asp-for="@Model.TotalPrice">State: </label>
        <input type="hidden" asp-for="@Model.TotalPrice"/>
    </div>
    <div>
        <p>Your total is: @Model.TotalPrice</p>
        <input type="submit" value="Purchase Order" />
    </div>
</form>