@page "{id}"
@model InterGalacticEcomm.Pages.Home.ProductModel
@{
}


<h1>@Model.Name</h1>
<ul>
    <li>
        Price: @Model.Price
    </li>
    <li>
        Description: @Model.Description
    </li>
</ul>

@if (@Model.URL != null)
{
    <img src="@Model.URL" width="250">
}

<hr />

@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <input asp-for="@Model.Id" type="hidden" />
        <input asp-for="@Model.Quantity" type="hidden" />
        <input type="submit" value="add to cart" />
    </form>
}
