@page
@model InterGalacticEcomm.Pages.Home.ShoppingCartModel
@{
}

<h1>Shopping Cart</h1>
<h2>@Model.UserName</h2>

@foreach (var item in @Model.CartProducts)
{
<form asp-page-handler="delete" asp-route-Id="@item.ProductId" method="post" >
    <div>
        <a asp-page="/Home/Product" asp-route-Id="@item.ProductId">@item.Product.Name</a>
        <input type="hidden" asp-for="@Model.ProductId" value="@item.ProductId"/>
        <input type="submit" value="Remove"/>
    </div>
</form>
}

@if (@Model.CartProducts.Count > 0)
{
    <form method="post">
        <input asp-for="@Model.Id" type="hidden" />
        <input type="submit" value="Check out"/>
    </form>
}