@model InterGalacticEcomm.Models.CategoryProductVM

<h1>@Model.Category.CategoryName </h1>

<p>@Model.Category.Description</p>

<p>Here are all the products within this category:</p>
<ul>
    @foreach (var item in @Model.Product)
    {
        <li>
            <a asp-controller="Home" asp-action="Product" asp-route-Name="@item.Name">@item.Name</a>
        </li>
    }
</ul>

<form>
    <p>Want to update this category?</p>
    Name: <input type="text" name="Name" />
    Description: <input type="text" name="Description" />
    <input type="submit" value="Update Item" />
</form>

<form>
    <p>Want to delete this category?</p>
    <input type="submit" value="Delete" />
</form>
